*,body{
    margin:0;

    
}

    .header{
        width: 100vw;
        height: 10vh;
        background-color: #FFB100;
        color: white;

        display:flex;
        align-items: center;
        justify-content: space-around;
    }

    #logout{
        width: 60px;
        height: 60px;

        border: 1px solid;
        border-radius: 30px;

        background-color:#4bb39a;

        display:flex;
        align-items: center;
        justify-content: center;
    }
    #logout:hover{
        background-color:red;
    }
    .displayWindow{
        width: 70vw;
        height: 50vh;
        border: 1px solid #ccc;
        border-radius: 10px;

        margin-left: 20%;

        display:flex;
        align-items: center;
        justify-content: center;

    }
    .displaySigns{
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 10px;

        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .signImg{
        width: 10%;
        height: 20%;
    }
    button {
        display: inline-block;
        padding: 5px 15px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4bb39a;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px #999;
      }

      #inputLoginPageField{
        width: 50%;
        height:10px;
    }
    #image{
        width: auto;
        height: 100%;
    }
    .container{
        width: 100%;
        height: 100vh;
        
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    fieldset{
        border-radius: 20px;
    }